*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote,
dl,
dd {
    margin: 0;
}
